# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\negar\PycharmProjects\HTML\NewAdvanceBootstrap\40.+Team+Carousel+CSS\40. Team Carousel CSS\Nuno Theme\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
